[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "Lowkey-Hugo-Theme"]
	path = Lowkey-Hugo-Theme
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
